.modalContent p {
  margin: 0 0 1rem 0;
  line-height: 1.6;
}
.modalActions {
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.formSectionTitle {
  font-size: 1.1rem;
  font-weight: bold;
  color: #5E3A8C; /* Cor principal do seu tema */
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.5rem;
}

.dependentsList {
  list-style-type: none;
  padding: 0;
  margin-top: 0.5rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 1rem;
}

.dependentsList li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
}

.dependentsList li:last-child {
  border-bottom: none;
}